
body {
  margin: 0;
}

/* Barra de navegacion */

.menu-container {
  position: fixed;
  box-shadow: 0 5px 2px rgba(0, 0, 0, 0.3);
  display: grid;
  align-items: center;
  padding: 2px 25px;
  grid-template-areas: "Logo Buscador Avatar";
  background: white;
  width: 100vw;
  z-index: 2;
}


.menu-ham {
  position: fixed;
  background: rgba(0,0,0,0.4);
  top: 0;
  left: -100vw;
  width: 100vw;
  /* height: 100vh; */
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
  z-index: 3;
}

.menu-ham.is-active {
  left: 0;
}

.lista {
  list-style: none;
}


.hamburger {
    width: 25px;
    display: none;
    margin-right: 10px;
    border-radius: 10px;
    background-color: rgba(0,0,0,0.3);
    position: absolute;
    position: fixed;
    z-index: 4;
    left: 10px;
    top: 10px;
}


.Avatar {
  grid-area: Avatar;
}

.search {
  grid-area: Buscador;
}

.logo {
  grid-area: Logo;
  display: flex;
  cursor: pointer;
}

.palomitas {
  border-radius: 20px;
  width: 62px;
  height: 52px;
}

.logo h2 {
  color: rgb(255, 40, 0);
  font-family: 'Cinzel', serif;
}

.search {
  display: flex;
  height: 25px;
}

.search input {
  border-radius: 5px;
  width: 350px;
  text-align: center;
  padding-left: 5px;
  background-image: url('../img/search.png');
  background-repeat: no-repeat;
  background-size: 14px;
  background-position-x: 15px;
  background-position-y: center;
}

.Avatar {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.foto {
  width: 52px;
  height: 42px;
  border-radius: 50%;
  margin-left: 5px;
}

.arrow {
  width: 15px;
  height: 15px;
  margin-left: 5px;
}

.principal {
}

.barra-vertical {
  position: absolute;
  position: fixed;
  background: rgb(255, 20, 0);
  width: 70px;
  height: 100vh;
  display: flex;
  top: 76px;
  z-index: 3;
}

.home {
  /* padding-left: 85px;
  padding-right: 85px; */
  display: grid;
  grid-template-columns: repeat(3, minmax(100px, 293px));
  justify-content: center;
  grid-gap: 28px;
}

.post {
  cursor: pointer;
  position: relative;
  display: block;
}

.post-image {
  margin: 0;
  overflow: hidden;
}

.post-image img {
  width: 100%;
  vertical-align: top;
  height: 100%;
}


@media screen and (max-width:1024px) {
  .menu-container {
    grid-column-gap: 17px;
  }
  .home {
    padding-left: 95px;
    padding-right: 25px;
  }

}
@media screen and (max-width: 768px) {
  .search input {
    width: 100%;
    background-image: none;
  }

  .menu-container {
    display: grid;
    grid-template-columns: 180px minmax(80, 280);
    /* grid-template-rows: 80px 80px; */
    grid-template-areas: "Logo Avatar"
                         "Buscador Buscador";
  justify-content: space-between;

  padding-bottom: 20px;

  }


}
@media screen and (max-width: 525px) {
  .logo {
    align-items: center;

  }

  .logo h2 {
    font-size: 20px;
  }

  .palomitas {
    height: 40px;
  }

  .Avatar h4 {
    font-size: 12px;
  }

}

@media screen and (max-width: 355px) {
  .menu-container {
    grid-template-columns: 10px 10px;
    grid-template-areas: "Logo Logo"
                         "Buscador Buscador";
  }

  .Avatar {
    display: none;
  }

 .logo {
   justify-content: center;
 }

  .hamburger {
    display: block;
  }

  .barra-vertical {
    display: none;
  }

}
